body, html, header, main, ul, article, li, p, h2, h3{
	padding: 0;
	margin: 0;
	font-family: "Arial";
}
.middleWrapper {
	width: 700px;
	margin: 0 auto;
}
body {
	height: 100vh;
}
header {
	width: 100%;
	min-height: 1em;
	height: 5vh;
	line-height: 5vh;
	background: #2C3E50;
	text-align: center;
}
header li {
	min-height: 1em;
	height: 5vh;
	display: inline-block;
	letter-spacing: 1px;
	border-right: 1px solid white;
	width: 180px;
	color: white;
}
header li:first-child {
	border-left: 1px solid white;
}
header li:hover {
	background: #475c72;
	cursor: pointer;
	height: 5.5vh;
}
#cv {
	display: block;
	width: 600px;
	margin: 15px auto;
	box-shadow: 0 0 10px 0 #8d9093;
	padding: 40px 20px;
}
#cv .name {
	background: #dde6ef;
	text-align: center;
	font-size: 1.2em;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
}
#cv .contacts {
	margin: 10px auto;
	border-collapse: collapse;
	width: 100%;
}
#cv .contacts td {
	padding: 5px;
	border: 2px solid #4a6279;
}
#cv .contacts td:first-child {
	width: 15%;
}
#cv article h3 {
	font-size: 1.1em;
	margin: 20px 0 10px 0;
	border-bottom: 3px solid #768ba0;
	text-transform: uppercase;
	color: #2C3E50;
}
#cv article p {
	text-indent: 40px;
}
#cv article ul {
	margin-left: 50px;
}
#cv .date{
	color: grey;
}
#cv .education p {
	display: inline-block;
	height: 40px;
	float: left;
	text-indent: 0;
	margin-left: 20px;
}
#cv .education .date {
	margin-left: 40px;
}
#cv .education::after {
	content: "";
	clear: both;
	display: block;
}
#cv .pdf {
	float: right;
}
header nav .active {
	height: 5.5vh;
	background: #eb884a;
	font-weight: bold;
	box-shadow: 0 0 5px 0 #3b3b3e;
}
section, #math {
	display: none;
}
#js, #php {
	margin: 2.5vh auto;
	text-align: center;
}
#js h2, #php h2 {
	padding: 10px;
    text-align: center;
    color:#CC5200;
    text-shadow: 0 1px 1px lightgray;
    font-size: 1.1em;
}
section nav li, section nav li {
    display: inline-block;
	padding: 10px;
	width: 25%;
	color:#cb8353;
	text-shadow: 0 1px 1px lightgray;
}
#js nav li:hover, #php nav li:hover, #js .active-app {
	box-shadow: inset 0 -5px 0 0 #2C3E50;
	color:#CC5200;
	cursor: pointer;
}

/* AQUARIUM CSS */
#fishAmount {
    color: #4682b4;
    font-size: 0.9em;                
}
button {
    background: none;
    border: none;
    margin: 1.2em;
    margin-top: 10px;
    cursor: pointer;
}
button:focus {
    outline: none;
}
#fish button:hover {
	background: #92b5ce;
    border-radius: 10px;
}
#fish button:active, #clear:active {
    border-radius: 5px;
}
#fishTank {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: #92b5ce;
    width: 600px;
    height: 300px;				
}
.flipped {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.message {
    color: #2C3E50;
    font-size: 1.2em;    
    margin-top: 10vh;
}
#clear {
    width: 10em;
    height: 3em;
    background: #2C3E50;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}
#clear:hover {
    background: #6c9dd6;
	color: #1d4560;
}

/*MATH CSS*/
#math .exercise {
	margin-top: 10vh;
}
#math>div{
	padding: 20px 0;
}
.types label{
	margin-left: 20px;
}
.condition input{
	width: 100px;
	border: none;
	font-size: 60px;
	font-weight: 400;
	text-align: center;
}
.condition #operator{
	width: 40px;
}
.results>div{
	padding: 10px 0;
}
#correct, #wrong{
	font-size: 18px;
	border: none;
	margin-left: 10px;
	width: 40px;
}
.results #validation{
	background: #f7e4e4;
	width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px solid #db4040;
	display: none;
}
.results #validation h3{
	margin: 0;
}