body{
    padding:0;
    margin:0;
    min-height:100%;
    background:#F2F2FF;
    font-family: Open Sans, sans-serif;
}	
.header{
    border-bottom:1px solid #97B1CA;   
    background:#F2F2FF;
}
.headerLeft{
    display:inline-block;
    width:24%;
    padding-bottom: 0.5%;
    margin:1%;				
    text-align: center;
}
.headerLeft .info{
    margin-top:20px;
    font-size:20px;
    line-height: 2;
    color:#4e5874;
    text-shadow: 0 1px 2px white;
    font-weight: 600;
}
.headerMain{
    width:71%;
    display:inline-block;
    text-align:center;
    margin:1%;
    border-left:1px solid #97B1CA;	
    float:right;
}
.headerMainTable{
    line-height: 1.5;
    color:#3f515a;
    text-shadow: 0 1px 1px white;
    padding:0;
    margin-left: 3%;
    text-align: left;                
    width:80%;
    border-collapse: collapse;
}
.header td{
    border-bottom:1px solid #97B1CA;
    background: #fff;
    padding:4px 10px;
}
td[rowspan]{
    text-align: center;
}
.middleWrapper{
    background-color: #fff; 
    background-image: 
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}
.clearfix:after{
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.projects{
    float:left;
    display:inline-block;
    margin-top:1%;
    margin-bottom:1%;
    margin-left:1%;
    border-right:1px solid #97B1CA;
    width:25%;
    height:570px;
    padding-right:2%;
    padding-top:10px;
    text-align: center;
    color:#CC5200;
    text-shadow: 0 1px 1px lightgray;
    font-size: 16px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.projectsList{
    background:#F2F2FF;
    text-align: left;
    box-shadow: 0 0 3px #97B1CA;
    color:#3f515a;
    list-style: none;
}
.projectsList>li{
    margin: 0;
    padding: 20px;
}
.activeBtn, .projectsList>li:hover{
    color: #B24700;
    background: #FFFFEC;
    border-bottom: 2px solid #FF944D;
}
.projectsList>li>ul{
    margin: 10px;
    margin-bottom: 0;
    font-size: 14px;
}
.projectsList>li>ul>li{
    margin-bottom: 5px;
}
ul a{
    color:#e87373;
    float: right;
    text-decoration: none;
}
ul a:hover{
    color:#d04e4e;
}
.main{
    position: relative;
    display:inline-block;
    width:69%;
    background-color:#F9F9FF; 
    text-align:center;
    height:580px;
    margin:1%;
    border-radius:20px;
    box-shadow:0 0 15px 5px #ACC1D5;
    margin-bottom: 0;
    visibility: hidden;
}
#mainAmount{
    color:#4682b4;
    font-size:14px;                
}
button{
    background:none;
    border:none;
    margin:20px;
    margin-top:10px;
    cursor: pointer;
}
button:focus{
    outline:none;
}
.more{
    display: none;
}
.main button:hover{
    box-shadow:0px 0px 10px 5px #3399FF inset;
    border-radius:10px;
}
.main button:active{
    box-shadow:0px 0px 10px 5px #3399FF;
    border-radius:10px;
}
#fishTank{
    position:relative;
    margin-top:10px;
    display:inline-block;
    background:#b6d6ed;
    width:600px;
    height:300px;				
}
.flipped{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.message{
    color:#A32900;
    font-size:22px;    
    text-shadow: 0 1px 1px #D59E8B;
    margin-top:40px;
}
#clear{
    width:150px;
    height:50px;
    background:#87c9f5;
    border-radius:10px;
    color:white;
    font-weight:bold;   
}
#clear:hover{
    background:#51a2f4;
}
#clear:active{
    box-shadow: 0px 0px 10px orange;
}
.footer{
    clear:both;
    width:100%;
    border-top:1px solid #97B1CA;
    color:#2b3c49; 
    height: 100%;
}
.footer div{
    margin-left: 3%;
    margin-top: 1%;
    padding-left: 35px;
}    
.footer .mail {
    height: 17px;
    line-height: 12px;
    background: url("img/result.png") no-repeat 0 0;
}
.footer .skype {
    height: 26px;
    line-height: 20px;
    background: url("img/result.png") no-repeat 0 -19px;
}
.addSkills{
    line-height: 1.5;
    color:#2a3d46;
    text-shadow: 0 1px 1px white;
    right: 20%;
    padding:0;
    margin-top: 5%;
    text-align: left;  
    width: 48%;
    position: absolute;
    border-collapse: collapse;
}
.addSkills td{
    padding:15px 15px;
}