body, html, header, main, ul, article, li, p, h2, h3{
	padding: 0;
	margin: 0;
	font-family: "Arial";
}
.middleWrapper {
	width: 700px;
	margin: 0 auto;
}
body {
	height: 100vh;
}
header {
	width: 100%;
	min-height: 1em;
	height: 5vh;
	line-height: 5vh;
	text-align: center;
	background-image: linear-gradient(to bottom, #364c63 0px, #243342 100%);
}
header li, header a {
	min-height: 1em;
	height: 5vh;
	display: inline-block;
	letter-spacing: 1px;
	border-right: 1px solid white;
	width: 170px;
	color: white;
	text-decoration: none;
}
header li:first-child {
	border-left: 1px solid white;
}
header li:hover {
	background-image: linear-gradient(to bottom, #4f657d 0px, #3b4c5e 100%);
	cursor: pointer;
	height: 5.5vh;
}
#home article {
	text-align: left;
	margin-top: 5vh;
}
#home p {
	font-family: Open Sans, Arial, sans-serif;
	text-indent: 20px;
	margin: 0.5em auto;
}
#home ul+p {
	margin-top: 5vh;
}
#home li {
	margin: 1em 0 1em 10%;
	width: 45%;
	height: 3em;
	padding: 0.5em;
	list-style: none;
	font-family: Open Sans, Arial, sans-serif;
	box-shadow: -40px 0 0 -25px #4f657d;
	transition: box-shadow  0.5s;
}
#home li:hover {
	cursor: pointer;
	width: 60%;
}
#home a {
	text-decoration: none;
	color: inherit;
}
#home ul li span {
	display: none;
}
#home ul li:hover {
	box-shadow: -5px 0 0 0 #4f657d;
}
#home ul li:hover span {
	display: inline;
}
#home ul li:last-child {
	position: relative;
}
#home ul li:last-child img {
	position: absolute;
}
#home ul li:last-child:hover {
	width: 45%;
}
header nav .active {
	height: 5.5vh;
	background: #eb884a;
	background-image: linear-gradient(to bottom, #ed955e 0px, #e87730 100%);
	font-weight: bold;
	box-shadow: 0 0 5px 0 #3b3b3e;
}
#math, #convert {
	display: none;
}
#js, #php, #home {
	margin: 2.5vh auto;
	text-align: center;
}
#js h2, #php h2 {
	padding: 10px;
    text-align: center;
    color:#CC5200;
    text-shadow: 0 1px 1px lightgray;
    font-size: 1.1em;
}
section nav li{
    display: inline-block;
	padding: 10px;
	width: 25%;
	color:#cb8353;
	text-shadow: 0 1px 1px lightgray;
}
#js nav li:hover, #php nav li:hover, .active-app {
	box-shadow: inset 0 -3px 0 0 #2C3E50;
	color:#CC5200;
	cursor: pointer;
}
#fish, #math, #maps, #convert {
	margin-top: 5vh;
}
#php div h3 {
	color: #2C3E50;
	font-size: 1.1em;
	margin: 20px;
}
#php div a {
	color:#cb8353;
	text-shadow: 0 1px 1px lightgray;
	text-decoration: none;
}
#php div a:hover {
	color:#CC5200;
}
#php div p {
	text-align: left;
}